# Paid wallpapers
/home/wallpaper/wallpaper/16.png
/home/wallpaper/wallpaper/17.png
/home/wallpaper/wallpaper/2020.png
/home/wallpaper/wallpaper/35.png
/home/wallpaper/wallpaper/abyss.png
/home/wallpaper/wallpaper/afterglow.png
/home/wallpaper/wallpaper/air.png
/home/wallpaper/wallpaper/birds.png
/home/wallpaper/wallpaper/cell.png
/home/wallpaper/wallpaper/circles.png
/home/wallpaper/wallpaper/dawn.png
/home/wallpaper/wallpaper/destination.png
/home/wallpaper/wallpaper/dim.png
/home/wallpaper/wallpaper/distance.png
/home/wallpaper/wallpaper/edge.png
/home/wallpaper/wallpaper/empty.png
/home/wallpaper/wallpaper/evening.png
/home/wallpaper/wallpaper/faraway_point.png
/home/wallpaper/wallpaper/framents.png
/home/wallpaper/wallpaper/harbour.png
/home/wallpaper/wallpaper/horizon.png
/home/wallpaper/wallpaper/lull.png
/home/wallpaper/wallpaper/nice.png
/home/wallpaper/wallpaper/night.png
/home/wallpaper/wallpaper/on_the_hill.png
/home/wallpaper/wallpaper/pap6.png
/home/wallpaper/wallpaper/pearls.png
/home/wallpaper/wallpaper/pieces.png
/home/wallpaper/wallpaper/rose.png
/home/wallpaper/wallpaper/same_way.png
/home/wallpaper/wallpaper/specimen.png
/home/wallpaper/wallpaper/stardust.png
/home/wallpaper/wallpaper/stay_here.png
/home/wallpaper/wallpaper/summer.png
/home/wallpaper/wallpaper/undertone.png
/home/wallpaper/wallpaper/weak_blue.png
/home/wallpaper/wallpaper/weak_red.png
/home/wallpaper/wallpaper/works.png
/home/wallpaper/wallpaper/xp.png
/home/wallpaper/wallpaper/zephyr.png
